<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559123295995-dhup8ik24jt59pifbikai5vjgdmgpd9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559123295995-dhup8ik24jt59pifbikai5vjgdmgpd9b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>559123295995-a5b9tcav7ifsjlpq2gn6pdf0vqlhoqro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8t7CBzCThnwSu5R2as_bj_RNS2ZkCqU</string>
	<key>GCM_SENDER_ID</key>
	<string>559123295995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>sublime-blade-353405</string>
	<key>STORAGE_BUCKET</key>
	<string>sublime-blade-353405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559123295995:ios:1bfaba72f51e961090ca5e</string>
</dict>
</plist>